    <mat-toolbar color="primary">

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>

      <span>My App</span>
      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" routerLink="/orders">
        <mat-icon matBadge="{{basket$ | async}}" matBadgeColor="warn">add_shopping_cart</mat-icon>
      </button>
      
        <button mat-icon-button class="example-icon" *ngIf="(isLoggedIn$ | async) === false" (click)="login()">
          <mat-icon>login</mat-icon>
        </button>

        <div *ngIf="(isLoggedIn$ | async) === true">
          <app-usermenu></app-usermenu>
        </div>

    </mat-toolbar>
    