<mat-card>
  <mat-card-header>
    <h1 class="mat-card-title">Connectez-vous</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="col" [formGroup]="formGroup" novalidate>
  
      <dynamic-material-form class="row" [group]="formGroup" [layout]="formLayout" [model]="formModel"></dynamic-material-form>
      
    </form>
    <mat-card-footer class="buttons">
  
      <button mat-raised-button color="primary" cdkFocusInitial (click)="login()">Login</button> 
    
      <button mat-raised-button color="warn" cdkFocusInitial routerLink="/register">Register</button> 
       
    </mat-card-footer>
  </mat-card-content>
  
</mat-card>